@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #0f0f0f;
    color: white;
}

.hero-bg{
    background-image: url("../src//assets//img//bg-hero.jpg") ;
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center;
    background-size: cover;

}

.floating {
	animation: floating 2s ease-in-out infinite
}
@keyframes floating {
	0% { transform: translateY(0); }
	50% { transform: translateY(-16px); }
	100% { transform: translateY(0); }
}