@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;0,900;1,500;1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #0f0f0f;
    color: white;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 5.5rem;
}

.bg-body{
    background-image: linear-gradient(rgba(97, 4, 4, 0.89), rgba(150, 10, 10, 0.795)),  url("../src/assets/img/bg-body.jpg") ;
    background-repeat: no-repeat;
    object-fit: cover;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;  
}



.hero-bg{
    background-image: linear-gradient(rgba(14, 14, 14, .5), rgba(7, 7, 7, 0.7)),  url("../src/assets/img//bg-hero.jpg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom  ;
    background-size: cover;
    
}

.bg-details{
    background-image: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.8)), url("../src/assets/img/bg-details.jpg") ;
    background-repeat: no-repeat;
    object-fit: cover;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    opacity: .8;
}

.floating {
	animation: floating 2s ease-in-out infinite
}
@keyframes floating {
	0% { transform: translateY(0); }
	50% { transform: translateY(-16px); }
	100% { transform: translateY(0); }
}

button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 12px!important;
}